@import "./shared";

.flex {
  display: flex;
}

.flex--align-center {
  align-items: center;
}

.flex--column {
  flex-direction: column;
}

// Bulma
.hero {
  background: url("https://cdn.pixabay.com/photo/2020/07/08/08/07/daisy-5383056__340.jpg") no-repeat center center fixed;
  background-size: cover;
}

.hero-body {
  background: rgba(255, 255, 255, 0.8);
}
